*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    width : 100%;
    height: 100vh;
    padding: 1.5em 5em 3.5em 5em;
}
img{
    width : 100%;
}
.p{
    font-weight: 600;
    width: 100%;
}
.notFound{
    width: 100%;
    height: 100%;
    justify-content:center;
    align-content: center; 
    display: grid;
    grid-template-columns: 2;
    grid-gap: 8rem;
}

.notFound__img{
    max-width: 33.75rem;
    grid-column: 1/1;
}

.notFound__info{
    display: flex;
    grid-column: 2/2;
    align-items: flex-start;
    flex-direction: column;
}
.notFound__info h1{
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 2.25rem;
}
.notFound__info p{
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}
.notFound__info button{
    border: none;
    background: #333333;
    color: #ffffff;
    padding: 1.4375rem 2.6875rem;
    cursor: pointer;
}

.footer{
    color: #BDBDBD;
    font-size: .875rem;
    text-align: center;
    padding: 1em;
    bottom: 0;
    left: 0;
    width: 100%; 
}
.footer p{
    width: 100%; 
}
.footer a{
    color: #BDBDBD;
}
.footer a:hover{
    color: #858585;
}
@media only screen and (max-width: 1100px) {
    body{
        padding: 1em 2em;
        
    }
    .notFound{
        text-align: center;
        height: auto;
        display: block;
        margin-top: 2em;
        display: block;

    }
    .notFound__img{
        max-width: 80%;
    }
    .notFound .img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .notFound__info h1{
        margin-bottom: 1.875rem;
        font-size: 3rem;
        width: 100%;
    }
    .notFound__info p{
        font-size: 1.125rem;
    }
    .notFound__info .button{
        width: 100%;
    }
    .footer{
        margin-top: 4em;
        padding: 1em;
    }
}